---
import Layout from "../layouts/main.astro";
import Button from "../components/button.astro";
---

<Layout title="404 - Shuhey Koyama">
  <section class="relative z-20 max-w-4xl mx-auto my-12 px-7 lg:px-0 mt-16 md:mt-24 lg:mt-32">
    <div class="relative">
      <div>
        <video
          class="w-full"
          style="aspect-ratio: 16 / 9;"
          autoplay="autoplay"
          muted="muted"
          loop="loop"
          playsinline
        >
          <source src="/portfolio/assets/images/404.webm" type="video/mp4" />
        </video>
      </div>

      <div class="absolute inset-0 flex flex-col items-center justify-center">
        <h1 class="text-4xl font-bold text-white mb-2 sm:text-5xl lg:text-6xl">
          404
        </h1>
      </div>
    </div>

    <div class="text-center py-2 lg:py-0">

      <h2
        class="mt-8 mb-6 text-2xl font-bold lg:mt-12 sm:mt-10 dark:text-neutral-200"
      >
        Oops, not found
      </h2>

      <div class="flex justify-center">
        <Button text="Take me home" link="/" />
      </div>

    </div>
  </section>
</Layout>
