---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION, HOMEPAGE_URL } from '../consts'
import Body from '../components/Body.astro'
import Content from '../components/Content.astro'
import { IoChevronForward } from 'react-icons/io5/'
import Masthead from '../components/Masthead.astro'
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <Header title={SITE_TITLE} />
    <main class="pt-[56px]">
      <Content>
        <section>
          <h1
            class="uppercase text-4xl text-center font-montserrat font-bold mt-12 mb-8"
          >
            📸 My Photos
          </h1>
          <h2
            class="text-2xl text-center font-montserrat font-medium mt-12 mb-8"
          >
            Under Construction...
          </h2>
        </section>
      </Content>
    </main>
    <Footer />
  </Body>
</html>
