---
import PageHeading from "../components/page-heading.astro";
import Layout from "../layouts/main.astro";
---

<Layout title="PUBLICATIONS - Shuhey Koyama">
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="Publications"
      description="Coming soon..."
    />
  </section>
</Layout>
