<section class="relative mb-6 h-80 flex justify-center items-center">
  <div class="absolute w-full h-full overflow-hidden">
    <video
      class="absolute h-auto left-1/2 top-1/2 min-w-full min-h-full object-cover -translate-x-1/2 -translate-y-1/2 opacity-50"
      poster="/masthead-poster.JPG"
      autoplay="autoplay"
      muted="muted"
      loop="loop"
      playsinline
      ><source src="/portfolio-reel-video.webm" type="video/webm; codecs=vp9" />
      <source src="/portfolio-reel-video.mp4" type="video/mp4; codecs=hvc1" />
    </video>
  </div>
  <div class="z-10 text-center px-8 drop-shadow-lg shadow-black">
    <div class="uppercase text-m font-montserrat mb-4">Welcome to</div>
    <div class="text-4xl font-montserrat font-extrabold">
      Shuhey Koyama's Portfolio Website
    </div>
  </div>
</section>
