---
import type { CollectionEntry } from 'astro:content'

interface Props {
  project: CollectionEntry<'work'>
}

const { data, slug } = Astro.props.project
---

<a href={`/works/${slug}`}>
  <img
    class="border border-slate-300 dark:border-zinc-700 rounded-xl"
    src={data.img}
    alt={data.img_alt || ''}
    loading="lazy"
    decoding="async"
  />
  <div class="mt-3 text-xl font-bold">
    {data.title}
  </div>
  {data.description && <div class="opacity-70">{data.description}</div>}
</a>
