---
import Layout from "./main.astro";
import { IoCalendarClearOutline } from "react-icons/io5";
const { frontmatter } = Astro.props;
---

<Layout title={`${frontmatter.title} - Shuhey Koyama`}>
  <main
    class="relative z-30 max-w-4xl pb-1 mx-auto bg-white dark:bg-neutral-950 md:rounded-t-md text-neutral-900"
  >
    <div
      class="relative flex flex-col px-5 pt-6 border-t border-b-0 md:border-r md:border-l md:pt-12 lg:px-0 justify-stretch md:rounded-t-2xl border-neutral-200 dark:border-neutral-800"
    >
      <p
        class="w-full max-w-2xl mx-auto mb-4 prose-sm prose dark:prose-invert"
      >
        <IoCalendarClearOutline size={18} className="inline mx-2" />{frontmatter.dateFormatted}
      </p>

      <h1
        class="w-full max-w-2xl mx-auto text-3xl font-bold leading-tight tracking-tighter text-left md:text-4xl dark:text-neutral-100 lg:text-5xl md:leading-none"
      >
        {frontmatter.title}
      </h1>

      <ul class="flex flex-wrap mt-7 sm:m-3 md:mb-5 gap-3 w-full max-w-2xl mx-auto">
        {frontmatter.tags.map((tag:string) => (
          <li class="bg-red-600/20 border-red-600/20 text-red-600 flex gap-1 items-center border-solid border rounded-md px-2 py-0.5 text-sm backdrop-blur-sm">
            {tag}
          </li>
        ))}
      </ul>
    </div>

    <article
      class="w-full max-w-2xl mx-auto mt-10 mb-20 prose-sm prose px-7 lg:px-0 lg:prose-lg dark:prose-invert"
    >
      <slot />
    </article>
  </main>
</Layout>
